<% gluon :person do %>
  <p>
    <% gluon :alice %> <label for="<% gluon :alice_id %>">Alice</label>
    <% gluon :bob %> <label for="<% gluon :bob_id %>">Bob</label>
    <% gluon :kate %> <label for="<% gluon :kate_id %>">Kate</label>
  </p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>

