<% gluon :person do %>
  <p>
    <% gluon :alice %> <label for="alice">Alice</label>
    <% gluon :bob %> <label for="bob">Bob</label>
    <% gluon :kate %> <label for="kate">Kate</label>
  </p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>

