<html>
<head>
<title>gluon example</title>
</head>
<frameset cols="20%,80%">
  <%= frame Example::Menu, :name => 'menu' %>
  <%= frame '/example/ex_panel?example=value', :name => 'main' %>
</frameset>
</html>
