<html>
<head>
<title>gluon example</title>
</head>
<frameset cols="20%,80%">
  <% gluon :menu %>
  <% gluon :panel %>
</frameset>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
