<html>
<head>
<title>gluon example</title>
</head>
<frameset cols="20%,80%">
  <%= frame :menu, 'name' => 'menu' %>
  <%= frame :panel, 'name' => 'main' %>
</frameset>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
