<html>
<head>
<title><%= value :title %></title>
</head>
<body>
<h1><%= value :title %></h1>

<h2>Description</h2>
<p>Gluon is simple web application framework. This is a sample of web
application.</p>

<h2>Examples</h2>
<p>see <%= link_path '/example', :text => 'example' %></p>

<hr />
<address>
Author: <a href="mailto:toki@freedom.ne.jp">TOKI Yoshinori</a>
</address>
</body>
</html>

<!-- Local Variables: -->
<!-- mode: HTML -->
<!-- indent-tabs-mode: nil -->
<!-- End: -->
