<html>
<head>
<title><% gluon :title %></title>
</head>
<body>
<h1><% gluon :title %></h1>

<h2>Description</h2>
<p>Gluon is simple web application framework.
This is a sample of web application.</p>

<h2>Example</h2>
<p>see <% gluon :example do %>example<% end %>.</p>

<hr />
<address>
Author: <a href="mailto:toki@freedom.ne.jp">TOKI Yoshinori &lt;toki@freedom.ne.jp&gt;</a>
</address>
</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
