<h2>1. actions</h2>

<p><% gluon :foo do %>foo<% end %></p>
<p><% gluon :bar do %>bar<% end %></p>

<h2>2. results</h2>

<% gluon :action? do %>
  <p><% gluon :results %></p>
<% end %>
<% gluon :not_action? do %>
  <p><em>no action.</em></p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
