<h2>1. actions</h2>

<p><%= action :foo %></p> <!-- call foo method -->
<p><%= action :bar %></p> <!-- call bar method -->

<h2>2. results</h2>

<% cond :no_action? do %>
  <p><em>no action.</em></p>
<% end %>
<% cond neg(:no_action?) do %>
  <p><%= value :results %></p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
