<h2>1. checkbox</h2>

<form target="main">
<p><% gluon :foo %> <label for="foo">foo</label>,
   <% gluon :bar %> <label for="bar">bar</label>,
   <% gluon :baz %> <label for="baz">baz</label></p>
<p><% gluon :ok %></p>
</form>

<h2>2. result</h2>

<% gluon :result_list do %>
  <p><% gluon :message %></p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
