<html>
<head>
<title>source code of <% gluon :title %> example</title>
</head>
<body>

<% gluon :header_footer do %>
  <h1>source code of <% gluon :title %> example</h1>
  <p>filename is `<code><% gluon :filename %></code>'.</p>
  <pre><% gluon :source_code %></pre>
  <hr />
<% end %>

</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
