<h2>1. foo condition</h2>

<p>
  condition is
  <% gluon :foo? do %>true.<% end %>
  <% gluon :not_foo? do %>false.<% end %>
</p>

<h2>2. bar condition</h2>

<p>
  condition is
  <% gluon :bar? do %>true.<% end %>
  <% gluon :not_bar? do %>false.<% end %>
</p>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
