<hr />

<p>default:</p>
<% gluon :default %>

<hr />

<p>title:</p>
<% gluon :title %>

<hr />

<p>no title:</p>
<% gluon :no_title %>

<hr />

<p>head level:</p>
<% gluon :head_level %>

<hr />

<p>CSS class:</p>
<% gluon :css_class %>

<hr />

<p>no messages:</p>
<% gluon :no_messages %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
