<html>
<head>
<title><% gluon :title %> example</title>
</head>
<body>

<% gluon :header_footer do %>
  <h1><% gluon :title %> example</h1>
  <% gluon :example %>
  <hr />
<% end %>

</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
