<html>
<head>
<title><% gluon :title %>example</title>
</head>
<body>

<h1><% gluon :title %> example</h1>
<% gluon :example %>

<address>
Author: <a href="mailto:toki@freedom.ne.jp">TOKI Yoshinori &lt;toki@freedom.ne.jp&gt;</a>
</address>
</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
