<html>
<head>
<title>example</title>
</head>
<body>

<%= import :header %>
<h1><%= value :title %> example</h1>
<%= import :example %>

<address>
Author: <a href="mailto:toki@freedom.ne.jp">TOKI Yoshinori &lt;toki@freedom.ne.jp&gt;</a>
</address>
</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
