<h2>1. foreach loop</h2>

<ol>
  <% gluon :persons do %>
    <li>
      name: <% gluon :name %>,
      age: <% gluon :age %>,
      country: <% gluon :country %>
    </li>
  <% end %>
</ol>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
