<p>
  <% gluon :example? do %><em>example</em><% end %>
  <% gluon :not_example? do %><% gluon :example do %>example<% end %><% end %>

  <% gluon :code? do %><em>code</em><% end %>
  <% gluon :not_code? do %><% gluon :code do %>code<% end %><% end %>

  <% gluon :view? do %><em>view</em><% end %>
  <% gluon :not_view? do %><% gluon :view do %>view<% end %><% end %>
</p>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
