<h2>1. import</h2>
<p><% gluon :foo %></p>

<h2>2. content</h2>
<p><% gluon :bar do %>This message is defined at parent component.<% end %></p>

<h2>3. content block defined at parent component</h2>
<p><% gluon :baz1 do %>This message is defined at parent component.<% end %></p>

<h2>4. content block defined at child component</h2>
<p><% gluon :baz2 %></p>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
