<h2>1. import by class</h2>
<p>[ <%= import :subpage_by_class %> ]</p>
<p>[ <%= import Example::Subpage %> ]</p>

<h2>2. import by object</h2>
<p>[ <%= import :subpage_by_object %> ]</p>
<p>[ <%= import Example::Subpage.new %> ]</p>

<h2>2. import with parameters</h2>
<p>[ <%= import :subpage_with_params  %> ]</p>
<p>[ <%= import Example::Subpage.new('bar') %> ]</p>
