<h2>1. path link</h2>
<p><% gluon :root do %>return to top page.<% end %></p>

<h2>2. class link</h2>
<p><% gluon :welcom do %>return to welcom page.<% end %></p>

<h2>3. link with text</h2>
<p><% gluon :ruby_home %></p>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
