<html>
<head>
<title>gluon example menu</title>
</head>
<body>
<h2>examples</h2>

<p><% gluon :welcom do %>return to top.<% end %></p>
<ul>
  <% gluon :examples do %>
    <li><% gluon :example do %><% gluon :description %><% end  %></li>
  <% end %>
</ul>

</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
