<html>
<head>
<title>gluon example menu</title>
</head>
<body>
<h2>examples</h2>

<p><%= link '/', :target => '_top', :text => 'return top.' %></p>
<ul>
  <% for key in %w[ value cond foreach link import ] %>
    <li><%= link Example::ExamplePanel, :query => { 'example' => key }, :target => 'main', :text => key %></li>
  <% end %>
</ul>

</body>
</html>
