<html>
<head>
<title>gluon example menu</title>
</head>
<body>
<h2>examples</h2>

<p><%= link Welcom, 'target' => '_top', :text => 'return to top.' %></p>
<ul>
  <% foreach :examples do %>
    <li><%= link :example, 'target' => 'main' %></li>
  <% end %>
</ul>

</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
