<html>
<head>
<title>gluon example menu</title>
</head>
<body>
<h2>examples</h2>

<p><%= link '/', :target => '_top', :text => 'return top.' %></p>
<ul>
  <% foreach :examples do %>
    <li><%= link :example, :target => 'main', :text => :name %></li>
  <% end %>
</ul>

</body>
</html>
