<html>
<head>
<title><% gluon :title %> example</title>
</head>
<body>

<% gluon :header_footer do %>
  <h1><% gluon :title %> example</h1>

  <p>This form is guarded by defense of form reload.</p>

  <% gluon :errors %>
  <% gluon :form do %>
    <% gluon :one_time_token %>
    <p><% gluon :now %></p>
    <p>Counter: <% gluon :count %></p>
    <p><% gluon :count_up %> <% gluon :count_reset %></p>
  <% end %>

  <hr />
<% end %>

</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
