<form>
  <%= import :one_time_token %>	<!-- for Gluon::Web::OneTimeToken -->
  <p><%= value :now %></p>
  <p>Counter: <%= value :count %></p>
  <p><%= submit :count_up, :value => 'Count Up' %></p>
</form>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
