<h2>1. password</h2>

<form>
<p><label for="foo">input:</label>
   <%= password :foo, :id => 'foo' %>
</p>
<p><%= submit :ok, :value => 'OK' %></p>
</form>

<h2>2. form value</h2>
<p><%= value :foo %></p>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
