<h2>1. password</h2>

<form>
<div><%= hidden :example, :direct => true %></div> <!-- hack to dispatch example -->
<p><label for="foo">input:</label>
   <%= password :foo, :id => 'foo' %>
</p>
<p><%= submit :ok, :value => 'OK' %></p>
</form>

<h2>2. form value</h2>
<p><%= value :foo %></p>
