<form target="main">

<h2>1. radio group and buttons</h2>
<% gluon :foo do %>
  <p>
    <% gluon :apple %> <label for="<% gluon :apple_id %>">Apple</label>,
    <% gluon :banana %> <label for="<% gluon :banana_id %>">Banana</label>,
    <% gluon :orange %> <label for="<% gluon :orange_id %>">Orange</label>
  </p>
<% end %>
<p><% gluon :ok %></p>
<p>result: <% gluon :foo_value %></p>

<h2>2. radio group and button list</h2>
<% gluon :bar do %>
  <p>
    <% gluon :person_list do %>
      <% gluon :person %>
      <label for="<% gluon :person_id %>"><% gluon :person_name %></label>
    <% end %>
  </p>
<% end %>
<p><% gluon :ok %></p>
<p>result: <% gluon :bar_value %></p>

</form>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
