<form target="main">

<h2>1. single select</h2>
<p><label for="foo">foo:</label> <% gluon :foo %> <% gluon :ok %></p>
<p>result: <% gluon :foo_value %></p>


<h2>2. multiple select</h2>
<p><label for="bar">bar:</label> <% gluon :bar %> <% gluon :ok %></p>
<p>result: <% gluon :bar_values %></p>

</form>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
