<h2>1. submit</h2>

<form target="main">
<p><% gluon :foo %></p>
<p><% gluon :bar %></p>
</form>

<h2>2. results</h2>

<% gluon :action? do %>
  <p><% gluon :results %></p>
<% end %>
<% gluon :not_action? do %>
  <p><em>no action.</em></p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
