<h2>1. submit</h2>

<form>
<div><%= hidden :example, :direct => true %></div> <!-- hack to dispatch example -->
<p><%= submit :foo, :value => 'foo' %></p> <!-- action to call foo_action method -->
<p><%= submit :bar, :value => 'bar' %></p> <!-- action to call bar_action method -->
</form>

<h2>2. results</h2>

<% cond :no_action? do %>
  <p><em>no action.</em></p>
<% end %>
<% cond_not :no_action? do %>
  <p><%= value :results %></p>
<% end %>
