<h2>1. import table</h2>

<% gluon :import_table %>

<h2>2. foreach table</h2>

<table summary="foreach table" border="1">
  <caption>foreach table</caption>
  <% gluon :foreach_table do %>
    <tr>
      <% gluon :table_cells do %>
        <td align="right"><% gluon :number %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h3>3. form table</h3>

<form target="main">
  <table summary="form table" border="1">
    <caption>foreach table</caption>
    <% gluon :form_table do %>
      <tr>
        <% gluon :table_cells do %>
          <td>
            <% gluon :checked %>
            <label for="<% gluon :check_id %>"><% gluon :text %></label>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p>checked: <% gluon :checked_values %></p>
  <p><% gluon :ok %></p>
</form>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
