<h2>1. textarea</h2>

<form target="main">
<p>
  <label for="<% gluon :foo_id %>">foo:</label><br />
  <% gluon :foo %>
</p>
<p><% gluon :ok %></p>
</form>

<h2>2. form value</h2>
<% gluon :form_value? do %>
  <pre><% gluon :form_value %></pre>
<% end %>
<% gluon :not_form_value? do %>
  <p><em>no value.</em></p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
