<h2>1. textarea</h2>

<form action="<%= value :action_path %>" target="main">
<p><label for="foo">foo:</label><br />
   <%= textarea :foo, 'id' => 'foo' %>
</p>
<p><%= submit :ok, :value => 'OK' %></p>
</form>

<h2>2. result</h2>
<pre><%= value :foo %></pre>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
