<h2>1. simple value</h2>

<p><% gluon :hello %></p>

<h2>2. escape</h2>

<p><% gluon :escaped_string %></p>

<h2>3. no escape</h2>

<p><% gluon :no_escaped_string %></p>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
