<html>
<head>
<title>example</title>
</head>
<body>

<%= import :header %>
<h1>view of <%= value :title %> example</h1>
<p>view filename is `<code><%= value :filename %></code>'.</p>
<hr />
<pre><%= value :view %></pre>
<hr />

<address>
<a href="mailto:toki@freedom.ne.jp">TOKI Yoshinori</a>
</address>
</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
