<html>
<head>
<title>view of <% gluon :title %> example</title>
</head>
<body>

<% gluon :header %>
<h1>view of <% gluon :title %> example</h1>
<p>view filename is `<code><% gluon :filename %></code>'.</p>
<hr />
<pre><% gluon :view_code %></pre>
<hr />

<address>
Author: <a href="mailto:toki@freedom.ne.jp">TOKI Yoshinori &lt;toki@freedom.ne.jp&gt;</a>
</address>
</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
