<html>
<head>
<title>view of <% gluon :title %> example</title>
</head>
<body>

<% gluon :header_footer do %>
  <h1>view of <% gluon :title %> example</h1>
  <% gluon :view_code_list do %>
    <p>view filename is `<code><% gluon :filename %></code>'.</p>
    <pre><% gluon :view_code %></pre>
    <hr />
  <% end %>
<% end %>

</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
